.nav-menu-col {
  width: 250px;
  height: 560px;
  background: rgba(196, 196, 196, 0.2);

  padding-left: 0px;
  padding-right: 0px;
}

.nav-content-col {
  width: 550px;
  height: 560px;
}

.test-header {
  width: 800px;
  height: 60px;

  background-color: #559393;
  align-items: center;
}

.test-container {
  width: 800px;
  height: 560;
}

.test-header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  padding-left: 28px;
  vertical-align: middle;

  color: #ffffff;
}

.test-content {
  width: 250px;
  height: 560px;
  background: rgba(196, 196, 196, 0.2);
}

.badge-connecting {
  width: 180px;
  height: 40px;
  background: #ccff00;
  border-radius: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  align-content: center;
  vertical-align: middle;
  padding-top: 8px;

  color: #555454;
}

.badge-connected {
  width: 180px;
  height: 40px;
  background: #6bfc9c;
  border-radius: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  align-content: center;
  vertical-align: middle;
  padding-top: 8px;

  color: #555454;
}

.btn-flat {
  background: #f581ff;
  border: 1px solid #ff269b;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: white;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.btn-menu {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  padding: 6px;

  margin-top: 16px;
  margin-bottom: 16px;

  color: #000000;

  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 12px;
}

.vers {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin: 4px;
}
