.btn {
  font-family: $light_font;
  transition: all 0.3s;
  height: 2.5rem;
  padding: 0 1.625rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.125rem solid transparent;
  outline: none;
  display: block;
  &.btn-primary {
    background: #1b15ff;
    color: #fff;

    &:hover {
      background: #433eff;
    }
    &:active {
      color: #c6c6cd;
    }
  }
  &.btn-primary__outline {
    border-color: #1b15ff;
    background: #000;
    color: #fff;
    &:hover {
      background: #292931;
    }
    &:active {
      color: #c6c6cd;
    }
  }
  &.btn-pink__outline {
    border-color: #ff00ff;
    background: #000;
    color: #fff;
    &:hover {
      background: #292931;
    }
    &:active {
      color: #c6c6cd;
    }
  }
  &.btn-dark {
    background: #1b1b1f;
    color: #fff;
    &:hover {
      background: #292931;
    }
    &:active {
      color: #c6c6cd;
    }
  }
}
