$system-light-red: #FF3B30;
$system-dark-red: #FF453A;

$system-light-gray-4: #D1D1D6;
$system-dark-gray-4: #363640;

$system-dark-gray-5: #292931;

.text-light-gray-4 {
  color: $system-light-gray-4;
}