.navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;

  .process-wrapper {
    height: 1rem;
    background: #1b1b1f;
    border-bottom: calc(1rem / 16) solid #292931;
    .process-value {
      background: #1b15ff;
      margin-bottom: calc(1rem / 16);
      height: 100%;
      transition: all 1s linear;
      width: 0;
    }
  }

  .navigation-content {
    padding: 0 10.5rem;
    display: flex;
    align-items: center;
    background: #1b1b1f;
    height: 3.5rem;
    max-height: 3.5rem;
    .navigation__logo {
      height: 1.625rem;
      width: 3.625rem;
      position: relative;
      margin-right: 2rem;
    }
    .navigation__label {
      font-family: $medium_font;
      font-size: 0.875rem;
      font-weight: 500;
      border-radius: 1.6875rem;
      padding: calc(1rem / 16) 1rem;
      color: #1b1b1f;
      &.Connected {
        background: #32d74b;
      }
      &.Disconnected {
        background: #ff453a;
      }
    }
    .navigation-animated-logo {
      margin-left: auto;
      display: flex;
      align-items: center;
      height: 100%;
      svg {
        margin-right: 0.75rem;
      }
      &__inner {
        display: flex;
        align-items: flex-end;
        height: 100%;
      }
      &__line {
        transition: all 0.6s;
        width: calc((1 / 16) * 1rem);
        background: #ff00ff;
        margin-right: 2px;
      }
    }
  }
}
