.sensitivity {
  padding-left: 10.5rem;
  padding-right: 10.5rem;
  .lg-text {
    margin: 1.5rem 0 2rem;
    font-weight: 900;
  }
  .presets-side-card {
    margin-bottom: 7.5rem;
  }
  .sensitivity-top {
    min-height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sensitivity__image {
    position: relative;
    width: 100%;
    min-height: 40rem;
  }
  .dialog {
    align-items: center;
    .title-text {
      margin-bottom: 2.5rem;
    }
    .btn {
      margin-bottom: 1rem;
      @extend .caption-text;
      padding: 0 1rem;
      width: 15rem;
    }
  }
}
.support-btns {
  display: flex;
  margin-left: auto;

  &__item {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #43434f;
    border-radius: 50%;
    margin-right: 0.5rem;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: #1b15ff;
    }
  }
}
