.sens {
  margin-left: 4px;
  margin-right: 4px;
  background: #f4f4f4;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sens-val {
  padding-top: 82px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

.sens-br {
  font-size: 18px;
  line-height: 21px;
  padding-left: 30px;
  text-align: center;
}

.sens-st {
  align-content: center;
  align-items: center;
  padding-left: 8px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 26px;
}

.sens-bar {
  padding-left: 22px;
}
