.test {
  padding-left: 0px;
  padding-right: 0px;
}

.test-cont {
  width: 550px;
  height: 320px;
  align-content: center;
}

.test-st {
  width: 550px;
  height: 240px;
  align-content: center;
}

.test-lb {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.slb {
  font-size: 18px;
  line-height: 22px;
  margin: 2px;
}

.frets {
  background: rgba(196, 196, 196, 0.2);
  border-radius: 5px;
  padding-left: 8px;
  margin-left: 2px;
}

.fret-brd {
  background: #c4c4c4, 20%;
}

.led {
  width: 300px;
  height: 60px;
  border-radius: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.led-red {
  background: #cf5338;
}

.led-green {
  background: #059c4b;
}

.led-blue {
  background: #7b61ff;
}

.btn-ans {
  width: 160px;
  height: 80px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
  background: #bdbfc4;
  border-radius: 20px;
}

.stat {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.circ {
  width: 82px;
  height: 82px;

  border-radius: 41px;
  flex: none;
  margin: 12px;
}

.rect {
  width: 180px;
  height: 50px;
  margin: 20px;
}

.dis {
  background: #c4c4c4;
}

.enbl {
  background: #6bfc9c;
}

.btns {
  flex-grow: inherit;
}

.ble {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}

.ble-tl {
  font-size: 18px;
  line-height: 21px;
  margin-top: 48px;
}

.ble-mac {
  font-size: 36px;
  line-height: 42px;
}

.ble-img {
  margin: 32px;
}

.mrg-t-10 {
  margin-top: 10px;
}
