// CONNECT FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800;900');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
@import '../public/PT Root UI_Bold/PT Root UI_Bold.css';
@import '../public/PT Root UI_Light/PT Root UI_Light.css';
@import '../public/PT Root UI_Medium/PT Root UI_Medium.css';
@import '../public/PT Root UI_Regular/PT Root UI_Regular.css';
// THEME
$bold_font: 'PTRootUIWebBold', sans-serif;
$light_font: 'PTRootUIWebLight', sans-serif;
$medium_font: 'PTRootUIWebMedium', sans-serif;
$regular_font: 'PTRootUIWebRegular', sans-serif;
$secondary_font: 'Montserrat', sans-serif;
@import '../node_modules/antd/dist/antd.dark.css';

// Typography
.title-text {
  font-family: $secondary_font;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.375rem;
}
.lg-text {
  font-family: $secondary_font;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.md-text {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.sm-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.caption-text {
  font-size: 0.875rem;
  line-height: 1rem;
}
a {
  color: #ff00ff;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
  }
}
a.no-effect {
  &:hover {
    text-decoration: none;
  }
}
.text-center {
  text-align: center;
}
.white {
  color: #fff;
}
.white-50 {
  color: rgba(255, 255, 255, 0.55);
}

html {
  // 16px = 1rem on 1200px screen
  // font-size: 1.333vw;
  font-size: 16px;
  font-family: $light_font;
  background: #000;
}
body {
  margin: 0;
  color: #fff;
  max-width: 100%;
}
div {
  box-sizing: border-box;
}
.d-flex {
  display: flex;
  &.align-center {
    align-items: center;
  }
}
.custom-scroll::-webkit-scrollbar {
  width: 1em;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
// COMMON
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  // max-height: calc(100vh - 8rem);
  // margin-top: 4.5rem;
  // overflow-y: scroll;
  // @extend .custom-scroll;

  &.centered {
    justify-content: center;
  }
  &.no-navigation {
    padding-top: 0;
    margin-top: 0;
    max-height: 100vh;
  }
}

// IMPORTS
@import './start-screen';
@import './blocks/_btn';
@import './blocks/_navigation';
@import './blocks/message';
@import './blocks/presets';
@import './blocks/software';
@import './blocks/midi-settings';
@import './blocks/slider';
@import './blocks/dialog';
@import './blocks/select';
@import './blocks/sensitivity';
@import './blocks/support';
@import './blocks/_jammy-web-components';

.video__back {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 8rem);
  object-fit: cover;
  @keyframes video-back {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.sound-check {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  .message {
    position: absolute;
    max-width: 29rem;
    border-radius: 0.5rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
    &.show {
      top: 10rem;
    }
  }

  .lg-text {
    margin-top: 8rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }
}
.stepper-wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  background: #292931;
  padding: 0.5rem 10.5rem;
  margin-top: 4.5rem;
  height: 3.5rem;

  .stepper__next {
    margin-left: auto;
  }
}
.chords-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  .chords-activator {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    background: #1b1b1f;
    cursor: pointer;
    margin-bottom: 3rem;
    @extend .md-text;

    &:hover {
      background: #292931;
    }
    svg {
      transition: all 0.3s;
      margin-left: 1rem;
    }
  }
  .chords-list {
    opacity: 0;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 15rem;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 0;
    transition: all 1s;
    max-height: 12rem;
    svg {
      position: relative;
      z-index: 10;
      width: 235px;
      height: 220px;
    }

    .string-wrapper {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 8.5rem;

      .string {
        background: #292931;
        height: 0.125rem;
        width: 100%;

        &:nth-child(1) {
          height: 1px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          height: 2px;
        }
        &:nth-child(4),
        &:nth-child(5) {
          height: 3px;
        }
        &:nth-child(6) {
          height: 4px;
        }
      }
    }
  }
  &.active {
    .chords-activator svg {
      transform: rotate(180deg);
    }
    .chords-list {
      // position: relative;
      opacity: 1;
      bottom: 7rem;
      max-height: 12rem;
      height: auto;
    }
  }
}
.music-visualizer {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  min-height: 6.875rem;
  max-height: 6.875rem;

  &__value {
    width: calc(1rem / 16);
    transition: all 0.6s ease-in-out;
    margin-right: calc((1rem / 16) * 2);
    background: #ff00ff;
    &:last-child {
      margin-right: 0;
    }
  }
}
.set-up-links {
  padding-bottom: 5rem;
  .title-text {
    font-size: 3rem;
    line-height: 136%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .link-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b1b1f;
    cursor: pointer;
    height: 10.5rem;
    padding: 0 4.5rem;
    width: 54rem;
    margin-bottom: 1px;
    @extend .md-text;
    transition: all 0.3s;
    &:hover {
      background: #292931;
    }
  }
}

.help-tooltip {
  position: fixed;
  bottom: 0;
  right: 8rem;
  background: #1b1b1f;
  padding: 2rem 3.5rem;
}

.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  .md-text {
    color: #888899;
    font-family: $regular_font;
  }
  .ant-switch-checked {
    background: #1b15ff;
  }
}

.info-btn {
  display: flex;
  align-items: center;
  position: relative;

  &__content {
    background: #292931;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    left: -8px;
    min-width: 25rem;
    padding: 1rem;
    height: 12.5rem;
    transition: 0.3s all;
    opacity: 0;
    z-index: -1;
    &.show {
      z-index: 1;
      opacity: 1;
    }
  }
}
.sound-switch {
  display: flex;
  align-items: center;
  margin-left: auto;
  border: 1px solid #363640;
  border-radius: 114px;
  padding: 4px 8px;
  margin-right: 1.5rem;
  &__label {
    margin-right: 0.5rem;
    line-height: 20px;
  }
  .ant-switch {
    background: #363640 !important;
  }
  .ant-switch-checked {
    background: unset;
    .ant-switch-handle::before {
      background: #1b15ff;
    }
  }
}
.fw-versions {
  margin-left: 1rem;
  display: flex;
  width: 100px;
  flex-direction: column;
  color: #888899;
  @extend .caption-text;
}
