// CONNECT FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');
@import '../public/PT Root UI_Bold/PT Root UI_Bold.css';
@import '../public/PT Root UI_Light/PT Root UI_Light.css';
@import '../public/PT Root UI_Medium/PT Root UI_Medium.css';
@import '../public/PT Root UI_Regular/PT Root UI_Regular.css';
// THEME
$bold_font: 'PTRootUIWebBold', sans-serif;
$light_font: 'PTRootUIWebLight', sans-serif;
$medium_font: 'PTRootUIWebMedium', sans-serif;
$regular_font: 'PTRootUIWebRegular', sans-serif;
$secondary_font: 'Montserrat', sans-serif;

// Typography
.title-text {
  font-family: $secondary_font;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.375rem;
}
.lg-text {
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.md-text {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.sm-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.caption-text {
  font-size: 0.875rem;
  line-height: 1rem;
}
a {
  color: #ff00ff;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
  }
}
.text-center {
  text-align: center;
}
.white {
  color: #fff;
}
.white-50 {
  color: rgba(255, 255, 255, 0.55);
}

html {
  // 16px = 1rem on 1200px screen
  font-size: 1.33vw;
  font-family: $light_font;
  background: #000;
}
body {
  margin: 0;
  color: #fff;
  max-width: 100%;
}
div {
  box-sizing: border-box;
}

// COMMON
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;

  &.centered {
    justify-content: center;
  }
  &.no-navigation {
    margin-top: 0;
    height: 100vh;
  }
}

// IMPORTS
@import './start-screen';
@import './blocks/_btn';
@import './blocks/_navigation';
@import './blocks/message';

.circle-loader {
  margin-top: 2rem;
  animation: rotateAnimation infinite 1.5s linear;
  width: 46px;
  height: 46px;
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.loader-line-wrapper {
  width: 13.5rem;
  height: 0.375rem;
  background: #414141;
  .loader-line-value {
    transition: all 0.3s;
    background: #1b15ff;
    height: 100%;
    width: 0;
  }
}

.firmware-update {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loader-line-wrapper {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }
}
.reboot {
  .sm-text {
    line-height: 7.6rem;
  }
}

.sound-check {
  position: relative;
  .message {
    position: absolute;
    max-width: 28rem;
    border-radius: 0.5rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .title-text {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
}
.chords-wrapper {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .chords-activator {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    background: #1b1b1f;
    cursor: pointer;
    margin-bottom: 3rem;
    @extend .md-text;

    &:hover {
      background: #292931;
    }
    svg {
      transition: all 0.3s;
      margin-left: 1rem;
    }
  }
  .chords-list {
    transition: all 1s;
    height: 220px;
    transform: translateY(50%);
    opacity: 0;
    width: 100%;
  }
  &.active {
    .chords-activator svg {
      transform: rotate(180deg);
    }
    .chords-list {
      opacity: 1;
      bottom: 5rem;
      transform: translateY(0);
    }
  }
}
.music-visualizer {
  display: flex;
  align-items: flex-end;
  min-height: 6.875rem;
  max-height: 6.875rem;

  &__value {
    width: calc(1rem / 16);
    transition: all 0.6s ease-in-out;
    margin-right: calc((1rem / 16) * 2);
    background: #ff00ff;
    &:last-child {
      margin-right: 0;
    }
  }
}
